@tailwind base;
@tailwind components;

/*************************/

/* default-styling-rectangle */
.default-styling-rectangle {
  @apply flex flex-wrap gap-4;
  @apply my-4;
}

.default-styling-rectangle .ember-safe-button {
  @apply rounded-md w-1/5 h-12 block overflow-hidden relative focus-within:ring-4 ring-opacity-50 ring-blue-500;
}

.default-styling-rectangle .ember-safe-button-safety, .default-styling-rectangle .ember-safe-button-trigger {
  @apply rounded-md py-2 w-full h-full block absolute left-0 top-0 focus:outline-none font-semibold text-white;
}

.default-styling-rectangle .ember-safe-button-safety {
  @apply bg-blue-500;
}

.default-styling-rectangle .ember-safe-button-trigger {
  @apply bg-red-600;
}

/* default-styling-circle */
.default-styling-circle {
  @apply flex flex-wrap gap-4;
  @apply my-4;
}

.default-styling-circle .ember-safe-button {
  @apply rounded-full w-20 h-20 block overflow-hidden relative focus-within:ring-4 ring-opacity-50;
}

.default-styling-circle .ember-safe-button-safety, .default-styling-circle .ember-safe-button-trigger {
  @apply rounded-full py-2 w-full h-full block absolute left-0 top-0 focus:outline-none font-semibold text-white;
}

.default-styling-circle .ember-safe-button-safety {
  @apply bg-blue-500;
}

.default-styling-circle .ember-safe-button-trigger {
  @apply bg-red-600;
}



.jail {
  background-image: url("/jail.png");
}



.docfy-demo {
  @apply mt-8 mb-12;
}

.docfy-demo__example {
  @apply p-4 border-t border-l border-r rounded-t;
}

.docfy-demo__description {
  @apply pb-5;
}
.docfy-demo__description__header {
  @apply flex justify-between items-center mb-4;
}
.docfy-demo__description__header__title {
  @apply text-xl font-semibold;
}
.docfy-demo__description__header__edit-url {
  @apply text-xs;
}
.docfy-demo__description__header__edit-url:hover {
  @apply text-red-600;
}

.docfy-demo__snippets__tabs {
  @apply px-2 border-t border-l border-r;
}
.docfy-demo__snippets__tabs__button {
  @apply p-2 mr-2 border-b-4 border-transparent;
}
.docfy-demo__snippets__tabs__button--active, .docfy-demo__snippets__tabs__button:hover {
  @apply border-red-700;
}

.docfy-demo__snippet {
  @apply border rounded-b;
}
.docfy-demo__snippet pre {
  @apply p-4;
  @apply flex text-gray-200 bg-gray-800;
  @apply text-sm leading-normal;
  @apply font-mono;
  @apply rounded-b;
  @apply overflow-auto;
  scrollbar-width: none;
}

.dark .docfy-demo__example {
  @apply bg-white text-gray-900;
  /* Temorary until Frontile supports dark mode */
}
.dark .docfy-demo__example,
.dark .docfy-demo__description,
.dark .docfy-demo__snippets__tabs,
.dark .docfy-demo__snippet {
  @apply border-gray-700;
}
.dark .docfy-demo__snippet pre {
  @apply bg-gray-900;
  @apply border-gray-700;
}
.dark .docfy-demo__description__header__title {
  @apply text-red-500;
}



@tailwind utilities;
