<header class="bg-indigo-600">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="w-full py-6 flex items-center justify-between border-b border-indigo-500 lg:border-none">
      <div class="flex items-center">
        <a href="#">
          <span class="text-white">ember-safe-button</span>
        </a>
      </div>
      {{!-- <div class="ml-10 space-x-4">
        <a href="#" class="inline-block bg-indigo-500 py-2 px-4 border border-transparent rounded-md text-base font-medium text-white hover:bg-opacity-75">Sign in</a>
        <a href="#" class="inline-block bg-white py-2 px-4 border border-transparent rounded-md text-base font-medium text-indigo-600 hover:bg-indigo-50">Sign up</a>
      </div> --}}
    </div>
  </nav>
</header>

<div class="flex flex-row">
  <div class="flex flex-col w-64">
    <div class="flex flex-col flex-grow border-r border-gray-200 pt-5 pb-4 bg-white overflow-y-auto">
      <DocfyOutput @scope="docs" as |node|>
        <div class="mt-5 flex-grow flex flex-col">
          <nav class="flex-1 px-2 space-y-1 bg-white" aria-label="Sidebar">
            {{#each node.pages as |page|}}
              <li class="list-none">
                <DocfyLink @to={{page.url}} class="bg-gray-100 text-gray-900 group w-full flex items-center pl-7 pr-2 py-2 text-sm font-medium rounded-md">
                  {{page.title}}
                </DocfyLink>
              </li>
            {{/each}}
          </nav>
        </div>
      </DocfyOutput>
    </div>
  </div>

  <div class="flex flex-auto flex-col prose p-4">
    {{outlet}}
  </div>
</div>